<%- include('includes/head') %>

<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>

        <div class="col-lg-8 my-3">
            <h1 class="text-center">Seja bem vindo!</h1>
            <p class="text-center lead">Entre ou faça um cadastro agora mesmo!</p>

            <%- include('./includes/messages') %>

            <div>
                <button class="btn btn-primary" href="google.com">Entrar</button>
            </div>

            <div>
                <button class="btn btn-primary" href="google.com">Crie sua conta</button>
            </div>


            </div>

        </div>

        <div class="col-lg-2"></div>
    </div>
</div>



<%- include('includes/footer') %>